.custom-outline {
    outline: 0.1px solid #413d3d45;
  }
  .table-border-gray{
  border: 1px solid   #d9d9d914;
  }
  .rtl-text {
    direction: rtl;
    text-align: right;
  }
  .ltr-symbol {
    direction: ltr;
    unicode-bidi: isolate;
  }

  .mTable{
    display: none;
  }

  h1,h4, div, th, td{
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: visible;
  }


  /*modal.css */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.bg-popup{
  background:rgb(39, 51, 89, 0.4)
}
 

/* .custom-outline {
  outline: .1px solid #413d3ddb;
} */

.custom-outline {
  outline: .1px solid rgba(255, 255, 255, 0.1);
}
 
input::placeholder {
  white-space: pre-wrap;
   
}

  @media (max-width: 600px) {
    .custom-outline {
      outline: .1px solid white;
    }

    .MainContentid{
      font-size: 65%;
    }
 
    .mTable{
      display: block;
    }


  .pcTable{

    display: none;
  }
  .text-space-right-m{
    margin-right: 20px;
  }
.containerHorizontal{
  max-width: 90%;
}
input::placeholder {
  white-space: pre-wrap;
}


  }

  